:light {
  --color: white;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  margin-top: 3rem;
  margin-left: 65px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: gray;
}
.dark {
  background-color: #1c1e21;
}
.light {
  background-color: var(--color);
}

#text-box {
  min-height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
}

#input-box {
  border: black 2px solid;
  max-height: 5rem;
}

#btn {
  border: black 2px solid;
  border-radius: 3px;
  background-color: rgb(206, 66, 143);
}

.table {
  margin-left: 0.5rem;
}
